#pokemons {
    display: flex;
    flex-wrap: wrap;
}

.pokemon {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.pid {
    font-weight: bold;
    text-align: center;
}

.name {
    text-transform: uppercase;
    text-align: center;
}

.type {
    text-transform: capitalize;
    text-align: center;
}
